.teremok {
	position: relative; 
	width: 100%;
	overflow: hidden;
}
.teremok div.image {
	width: 100%;
	position: absolute;
	background-size: cover;
	-moz-transition: transform 6s ease-out;
	-o-transition: transform 6s ease-out;
	-webkit-transition: transform 6s ease-out;
}
.teremok .scale {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
}