.teremok {
	position: relative; 
	width: 100%;
	overflow: hidden;
}
.teremok div.image {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
	background-size: cover;
	-moz-transition: transform 21s ease-out;
	-o-transition: transform 21s ease-out;
	-webkit-transition: transform 21s ease-out;
}
.teremok div.scale {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
}
.buttonTeremok {
	display: none;
	position: absolute;
	/*margin-left: auto;
	margin-right: auto;*/
	left: 15px;
	/*right: 0;*/
	bottom: 15px;
	width: 150px;
}
